body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #d32f2f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #FF0000;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form fieldset {
    border: none;
    margin-bottom: 15px;
}

form legend {
    font-weight: bold;
    margin-bottom: 10px;
}

form label {
    margin-top: 10px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form .submit-button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 20px;
    width: 50%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form .submit-button:hover {
    background-color: #b71c1c;
}

form .login-button a {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 20px;
    width: 50%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #FF0000;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

.footer-section {
    flex: 1;
    text-align: center;
}