.footer-section{
    flex: 1;
    text-align: center;
}

.logo{
    margin-right: 100px;
    width: 100px;
}

header{
    background-color: #FF0000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul{
    gap: 20px;
    list-style: none;
    display: flex;
}

header nav ul a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header nav ul a:hover{
    text-decoration: underline;
}

footer h1{
    margin: 0;
}

footer{
    background-color: #FF0000;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

section, table, th, td{
    color: red;
    border: 2px solid red;
    border-collapse: collapse;
    width: 100%;
    font-size: 30px;
}
