/* style.css */

.container {
    width: 40%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form fieldset {
    border: none;
    margin-bottom: 20px;
}

fieldset legend {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button.finalizar {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
}

button.finalizar:hover {
    background-color: #218838;
}